body {
    font-family: 'Raleway', sans-family;
    font-size: 18px;
    font-weight: 400;
    background-color: #008080;
    color: #777;
    width: 100vw;
    height: 100vh;
}

#kartarezerwacji {
    color: black;
}

/*stylizyacja przycisków*/
.container {
    height: 100%;
}

section {
    display: inline;
}

    section button {
        font: 1.2em monospace;
        cursor: pointer;
        color: black;
        height: 2.5em;
        outline: none;
        border-radius: 0.5em;
        border: 1px solid gray;
        transition: all 0.1s;
    }

        section button.main {
            width: 6em;
            margin-right: 2em;
        }

        section button.submain {
            width: 8em;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        }

            section button.submain:active {
                box-shadow: none;
            }

            section button.submain:focus {
                color: lawngreen;
                background-color: seagreen;
                border-color: lawngreen;
            }

/*----------------------------

.checked {
    box-shadow: none;
}

.unchecked {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

/*----------------------------*/

.modal-footer {
    font: 1.2em monospace;
    margin: 1em;
    height: 1.4em;
}

    .modal-footer button {
        font: 1em monospace;
        font-variant: small-caps;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        margin: 0 0.2em;
        width: 4em;
        height: 1.5em;
        text-align: center;
        outline: none;
        border-radius: 0.5em;
        cursor: pointer;
    }

        .modal-footer button:hover {
            color: seagreen;
        }

        .modal-footer button:active {
            box-shadow: none;
        }


/*styl tabeli*/
table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 2px 0 #fff;
    font-size: 18px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

    th:after {
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
    }

    th:first-child {
        border-left: 1px solid #777;
        box-shadow: inset 1px 1px 0 #999;
    }

    th:last-child {
        box-shadow: inset -1px 1px 0 #999;
    }

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

    td:first-child {
        box-shadow: inset 1px 0 0 #fff;
    }

    td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
    }

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

    tr:nth-child(odd) td {
        background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
    }

    tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
    }

        tr:last-of-type td:first-child {
            box-shadow: inset 1px -1px 0 #fff;
        }

        tr:last-of-type td:last-child {
            box-shadow: inset -1px -1px 0 #fff;
        }

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

/*Podświetlenie nagłówka wiersza*/
tr:first-child {
    background-color: #efefef;
}

/*Wyróżnienie wskazanego wiersza*/
tr:hover {
    background-color: lightgray;
}

.szeroko * input, textarea {
    max-width: 1000px;
}

.naglowek_info {
    margin: 50px;
}

.naglowek_lekarz {
    color: black;
}
navbar, navbar-inverse {
    color: black;
}

#logowanie {
    color: black;
    font-size: 30px;
}


/*Set padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 /*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column*/ 

.dl-horizontal dt {
    white-space: normal;
}

 /*Set width on the form input elements since they're 100% wide by default*/ 
input,
select,
textarea {
    max-width: 280px;
}
